<launch>

    <!-- <include file="$(find package_name)/launch/other_launch_file.launch"/> -->
    <include file="$(find robotparams)/launch/robotparams.launch"/>

    <node name="robotcamera" pkg="robotcamera" type="robotcamera_node" output="screen"/>
    
    <node name="robotdetect" pkg="robotdetect" type="robotdetect_node" output="screen"/>
    <node name="robottrack" pkg="robottrack" type="robottrack_node" output="screen"/>

    <node name="rqt_dynamic_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotparams)/rviz/detect.rviz" output="screen"/>
    <!-- <node pkg="sentry_serial" type="sentry_send" name="sentry_send" output="screen" 
    args="/dev/ttyACM0">
    </node> -->
    <!-- <node name="robotserial" pkg="robotserial" type="robotserial_node" output="screen"/> -->
    
    <!-- <node name="robottest" pkg="robottest" type="robottest_node" output="screen"/> -->
    

</launch>